  
{{ form_start(form) }}
                <div class="card-body">
                  <div class="form-group">
                    {{ form_label(form.titulo, 'Título') }}
                    {{ form_widget(form.titulo, {'attr':{'class':'form-control', 'placeholder':'Ingrese el título'}} ) }}
                  </div>
                  <div class="form-group">
                    {{ form_label(form.categoria, 'Categoría') }}
                    {{ form_widget(form.categoria, {'attr':{'class':'form-control', 'placeholder':'Ingrese la categoría'}} ) }}

                  </div>
                  <div class="form-group">
                    {{ form_label(form.etiquetas, 'Etiquetas') }}
                    {{ form_widget(form.etiquetas, {'attr':{'class':'form-control', 'placeholder':'Ingrese las etiquetas'}} ) }}

                  </div>
                  <div class="form-group">
                    {{ form_label(form.contenido, 'Contenido') }}
                    {{ form_widget(form.contenido, {'attr':{'class':'form-control'}} ) }}
                  </div>
                  <div class="form-group">
                    {{ form_label(form.imageFile, 'Imagen') }}
                    {{ form_widget(form.imageFile, {'attr':{'class':'form-control'}} ) }}
                  </div>
                </div>

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
                </div>
    {{form_rest(form)}}
{{ form_end(form) }}