{% extends 'base.html.twig' %}

{% block Body %}

  <main id="main">

    <!-- ======= Blog Section ======= -->
       <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Información Útil</h2>

          <ol>
            <li><a href="index.html">Inicio</a></li>
            <li>Blog</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                 {% if entrada.imageName is not empty  %}
                                    <img class="img-responsive" src="{{ vich_uploader_asset(entrada)| imagine_filter('blog_detail') }}" alt="#" />
                                {% else %}
                                    <img class="img-responsive" src="assets/img/blog/blog-inside-post.jpg" alt="#" />
                                {% endif %}
              </div>

              <h2 class="entry-title">
                <a href="{{ url('singleblog',{ 'id': entrada.id}) }}">{{ entrada.titulo }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{{ url('singleblog',{ 'id': entrada.id}) }}">Florencia Bosco / Rocío Prado</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{{ url('singleblog',{ 'id': entrada.id}) }}"><time datetime="2020-01-01">{{ entrada.fecha | date('d/m/Y') }}</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{ entrada.contenido | nl2br}}
                </p>

              </div>

            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Categorías</h3>
              <div class="sidebar-item categories">
                <ul>
                  {% for cat in categorias %}
                    <li><a href="{{url('blog')}}?cat={{ cat.id }}&etiq={{ filtro.etiq }}">{{ cat.nombre }}</a></li>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Etiquetas</h3>
              <div class="sidebar-item tags">
                <ul>
                  {% for etiq in etiquetas %}
                     <li><a href="{{url('blog')}}?etiq={{etiq.id}}&cat={{filtro.etiq}}"> {{ etiq.nombre }}</a></li>          
                  {% endfor %}
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


{% endblock %}