{% extends 'admin/base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}
    <h1>Categorías</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.nombre }}</td>
                <td>
                    <a href="{{ path('admin_categoria_show', {'id': categoria.id}) }}">Ver</a>
                    <a href="{{ path('admin_categoria_edit', {'id': categoria.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no hay resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_categoria_new') }}"> Agregar </a>
{% endblock %}
